-e git+https://github.com/cece95/access.git@33af60b3ae2c241f7bbc3eb890cfcb4230891b1e#egg=access
bayesian-optimization==1.2.0
blis==0.2.4
cachetools==4.1.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cma==3.0.3
ConfigArgParse==1.2.3
corpustools @ git+https://github.com/PhonologicalCorpusTools/CorpusTools.git@8ef5858ab07d99c749865750f49d9f0e52494cbf
cycler==0.10.0
cymem==2.0.3
Cython==0.29.20
dill==0.3.0
docopt==0.6.2
dyNET==2.1
-e git+https://github.com/cece95/easse.git@3dee2f5086757dc5ade91c449024c4aff247459d#egg=easse
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
fairseq @ file:///home/cece/Desktop/fairseq
future==0.18.2
gitdb==4.0.5
GitPython==3.1.0
google-auth==1.18.0
google-auth-oauthlib==0.4.1
gspread==3.6.0
gspread-pandas==2.2.3
idna==2.10
imohash==1.0.4
joblib==0.13.2
jsonschema==2.6.0
kiwisolver==1.2.0
Logbook==1.5.3
matplotlib==3.2.2
mecab-python3==1.0.0
mmh3==2.5.1
murmurhash==1.0.2
nevergrad==0.2.3
nltk==3.4.5
numpy==1.17.2
oauthlib==3.1.0
pandas==0.25.1
parsimonious==0.8.1
Penman==0.6.2
Pillow==7.1.2
plac==0.9.6
plotly==4.8.2
portalocker==1.7.0
preshed==2.0.1
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
Pyphen==0.9.5
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyspotlight==0.7.2
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2020.1
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
sacrebleu==1.4.4
sacremoses==0.0.43
scikit-learn==0.23.1
scipy==1.5.0
seaborn==0.10.1
SEMSTR==1.2.2
sentencepiece==0.1.83
six==1.15.0
sklearn==0.0
smatch==1.0.1
smmap==3.0.4
spacy==2.1.3
srsly==1.0.2
stanfordnlp==0.2.0
tabulate==0.8.4
TextGrid==1.5
textstat==0.6.2
thinc==7.0.8
threadpoolctl==2.1.0
torch==1.4.0
torchvision==0.6.1+cpu
tqdm==4.36.1
tseval @ git+https://github.com/facebookresearch/text-simplification-evaluation.git@c86046930a2144406d941a99127eba795eea6296
TUPA==1.4.2
typing==3.7.4.1
typing-extensions==3.7.4.2
UCCA @ git+https://github.com/louismartin/ucca.git@838a84cd89389d50e9c677ab47242eb56dc2f398
unidic-lite==1.0.6
urllib3==1.25.9
varint==1.0.2
wasabi==0.7.0
word2number==1.1
yattag==1.13.2
